.project {
  width: 100%;
  position: relative;
  border: 1px solid #eee;
}

.wave {
  width: 100%;
  position: absolute;
  opacity: 0.2;
  z-index: -1;
}

.wave img {
  height: 700px;
}

.wave1 img {
  height: 800px;
}

.wave1 {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  z-index: -1;
}

.project-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 3rem 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.project-title {
  text-align: center;
  margin: 20px 0;
  color: #333;
}

.project-card {
  width: 400px;
  height: 500px;
  border: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 40px;
  margin: 10px;
  text-align: center;
  margin: 0 auto;
  animation: zoomIn 0.5s ease-in;
}

@keyframes zoomIn {
  0% {
    width: 350px;
  }

  100% {
    width: 400px;
  }
}

.project-card img {
  width: 100%;
}

.project-name {
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0;
}

.description {
  font-size: 14px;
  color: rgb(75, 74, 74);
  margin-bottom: 20px;
}

.project-container div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.project-container .btn {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #337ab7;
  padding: 9px 15px;
  border: 1px solid #337ab7;
  border-radius: 5px;
  transition: all 1s ease;
  cursor: pointer;
  color: #fff;
  font-weight: 400;
}

.project-container .btn-outline {
  background: transparent;
  color: #337ab7;
  display: flex;
  border: 1px solid #337ab7;
  align-items: center;
  gap: 5px;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 1s ease;
  cursor: pointer;
  font-weight: 400;
}

.btn i,
.btn-outline i {
  font-size: 20px;
}

.project-container .btn:hover {
  background: transparent;
  border: 1px solid #337ab7;
  color: #337ab7;
}

.project-container .btn-outline:hover {
  background: #337ab7;
  color: #fff;
}
